<div class="container pt-5">
  <div class="justify-center pt-2 row">
    <div class="pb-3 rounded-md shadow col-sm-4">
      <h1 class="pt-3 font-semibold text-center text-secondary">REGISTER</h1>
      <form
        class="px-5"
        (ngSubmit)="registerUser()"
        [formGroup]="registerForm"
        novalidate
      >
        <div class="form-group">
          <label for="name" class="text-gray-600 col-form-label"
            >Full Name:</label
          >
          <input
            class="text-gray-600 rounded-md form-control h-9"
            [ngClass]="{
              'is-invalid': formErrors.name
            }"
            id="name"
            type="text"
            formControlName="name"
            (blur)="logValidationErrors()"
          />
          <small class="tracking-tighter text-gray-400 text-xm"
            >Full name is required. It must be 1 to 100 characters long</small
          >
        </div>

        <div class="form-group">
          <label for="Surname" class="text-gray-600 col-form-label"
            >Surname</label
          >
          <input
            class="text-gray-600 rounded-md form-control h-9"
            [ngClass]="{
              'is-invalid': formErrors.surname
            }"
            id="surname"
            type="text"
            formControlName="surname"
            (blur)="logValidationErrors()"
          />
          <small class="tracking-tighter text-gray-400 text-xm">
            Full name is required. It must be 1 to 100 characters long
          </small>
        </div>

        <div class="form-group">
          <label for="email" class="text-gray-600 col-form-label">Email</label>
          <input
            class="text-gray-600 rounded-md form-control h-9"
            [ngClass]="{
              'is-invalid': formErrors.email
            }"
            id="email"
            type="email"
            formControlName="email"
            (blur)="logValidationErrors()"
          />
          <small class="tracking-tighter text-gray-400 text-xm"
            >Valid email is required. It must be 3 to 100 characters long
          </small>
        </div>

        <div formGroupName="passwordGroup">
          <div class="form-group">
            <label for="password" class="text-gray-600 col-form-label"
              >Password</label
            >
            <input
              class="text-gray-600 rounded-md form-control h-9"
              [ngClass]="{
                'is-invalid': formErrors.password
              }"
              id="password"
              type="password"
              formControlName="password"
              (blur)="logValidationErrors()"
            />
            <small class="tracking-tighter text-gray-400 text-xm">
              Password is required. It must be 1 to 100 characters long
            </small>
          </div>

          <div class="form-group">
            <label for="confirm" class="text-gray-600 col-form-label"
              >Confirm Password</label
            >
            <input
              class="text-gray-600 rounded-md form-control h-9"
              [ngClass]="{
                'is-invalid':
                  formErrors.confirm ||
                  registerForm.get('passwordGroup')?.errors
              }"
              id="confirm"
              type="password"
              formControlName="confirm"
              (blur)="logValidationErrors()"
            />
            <small class="tracking-tighter text-gray-400 text-xm">
              Passwords must match exactly
            </small>
          </div>
        </div>

        <button type="submit" class="mt-4 btn btn-primary">Register</button>
        <p
          routerLink="/login"
          class="flex-grow mt-1 text-sm text-blue-500 cursor-pointer"
        >
          Already have an account? Login instead
        </p>
      </form>
    </div>
  </div>
</div>
