<div class="py-10">
  <div class="flex justify-end px-5 pb-5">
    <button
      routerLink="/add"
      class="px-2 py-1 text-white bg-green-400 rounded-lg"
    >
      Add New Advert
    </button>
  </div>

  <div class="flex" *ngFor="let ad of adverts">
    <div class="relative w-40 h-32">
      <img
        class="absolute object-contain w-auto h-auto rounded-xl"
        src="{{ ad.imgUrl }}"
      />
    </div>

    <div class="px-2 ml-4">
      <h3 class="font-medium">{{ ad.name }}</h3>
      <div class="flex">
        <h5 class="px-2 py-1 mr-2 text-sm bg-gray-100 rounded-2xl">
          {{ ad.province }}
        </h5>
        <h5 class="px-2 py-1 text-sm bg-gray-100 rounded-2xl">
          {{ ad.city }}
        </h5>
      </div>
      <h3 class="text-red-600">R{{ ad.price }}</h3>
      <div class="btns">
        <button class="px-2 py-1 text-gray-600 bg-blue-200 rounded-lg">
          Actions...
        </button>
        <button
          [routerLink]="['/edit', ad.id]"
          class="px-2 py-1 text-gray-600 bg-blue-200 rounded-lg"
        >
          edit
        </button>
        <button
          (click)="hideAdvert(ad)"
          *ngIf="ad.hiddenStatus === false"
          class="px-2 py-1 text-gray-600 bg-yellow-200 rounded-lg"
        >
          hide
        </button>
        <button
          (click)="hideAdvert(ad)"
          *ngIf="ad.hiddenStatus === true"
          class="px-2 py-1 text-gray-600 bg-green-200 rounded-lg"
        >
          show
        </button>
        <button
          (click)="deleteAdvert(ad.id)"
          class="px-2 py-1 text-gray-600 bg-blue-200 rounded-lg"
        >
          delete
        </button>
      </div>
    </div>
  </div>
</div>
