<section>
  <div class="flex my-8 flex-column">
    <div class="mx-auto w-50">
      <div class="w-auto mx-auto">
        <app-search
          (filter)="onFilter($event)"
          (reset)="onReset($event)"
        ></app-search>
        <div class="flex justify-end mt-3 flex-column">
          <form [formGroup]="sortForm">
            <h2 class="font-bold text-gray-500 form-label">Sort by:</h2>
            <select
              formControlName="sort"
              class="text-xs text-gray-600 rounded-md outline-none bg-gray-50 h-9"
            >
              <option value="">-- High or Low --</option>
              <option value="descending">Price High to Low</option>
              <option value="ascending">Price Low to High</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div *ngIf="sortedAds.length" class="flex justify-center">
    No adverts match your criteria
  </div> -->

  <div class="grid gap-4 mx-auto md:grid-cols-1 w-75 lg:grid-cols-2">
    <article
      (click)="goToAdvertDetails(ad.id)"
      class="flex w-full overflow-hidden rounded shadow-md cursor-pointer hover:bg-gray-50"
      *ngFor="let ad of sortedAds"
    >
      <div class="flex-shrink-0 w-2/4">
        <img class="object-cover" src="{{ ad.imgUrl }}" />
      </div>

      <div class="px-2 text-gray-800">
        <h3 class="text-xl font-bold">{{ ad.name }}</h3>
        <div class="mt-2 mb-3">
          <span
            class="px-1 py-0.5 mr-2 text-sm tracking-tighter bg-gray-100 rounded-2xl"
          >
            {{ ad.province }}
          </span>
          <span
            class="px-1 py-0.5 text-sm tracking-tighter bg-gray-100 rounded-2xl"
          >
            {{ ad.city }}
          </span>
        </div>
        <p class="text-lg font-bold tracking-wide text-green-700">
          {{ ad.price | currency: "ZAR":"symbol-narrow" }}
        </p>

        <button
          *ngIf="ad.featuredStatus"
          class="px-1 mt-2 text-white rounded curser-none bg-gradient-to-r from-red-400 to-purple-500"
        >
          featured
        </button>
      </div>
    </article>
  </div>
</section>
