<div class="container">
  <div class="justify-center pt-2 mt-10 row">
    <div class="pb-3 rounded-md shadow col-sm-6">
      <h1 class="pt-3 font-bold text-center text-gray-700">
        {{ advertId ? "EDIT ADVERT" : "ADD ADVERT" }}
      </h1>
      <form
        class="px-5"
        (ngSubmit)="submitAdvert()"
        [formGroup]="advertForm"
        novalidate
      >
        <div class="form-group">
          <label for="name" class="font-medium text-gray-500 col-form-label"
            >Advert Headline</label
          >
          <input
            class="text-gray-600 rounded-md form-control h-9"
            [ngClass]="{
              'is-invalid': formErrors.name
            }"
            id="name"
            type="text"
            placeholder="*required"
            formControlName="name"
            (blur)="logValidationErrors()"
          />
          <small class="tracking-tighter text-gray-400 text-xm">
            Advert title is required. It must be 1 to 100 characters long
          </small>
        </div>

        <div class="form-group">
          <label for="province" class="font-medium text-gray-500 col-form-label"
            >Province</label
          >
          <select
            class="text-gray-600 rounded-md form-control h-9"
            id="province"
            formControlName="province"
            [ngClass]="{
              'is-invalid': formErrors.province
            }"
            (blur)="logValidationErrors()"
          >
            <option value="">-- Select a province --</option>
            <option
              *ngFor="let province of provincesToSelectFrom"
              [value]="province"
            >
              {{ province }}
            </option>
          </select>
          <small class="tracking-tighter text-gray-400 text-xm">
            Province required to select a city
          </small>
        </div>

        <div class="form-group">
          <label for="city" class="font-medium text-gray-500 col-form-label"
            >City</label
          >
          <select
            class="text-gray-600 rounded-md form-control h-9"
            id="city"
            formControlName="city"
            [ngClass]="{
              'is-invalid': formErrors.city
            }"
            (blur)="logValidationErrors()"
          >
            <option value="">-- Select a city --</option>
            <option *ngFor="let city of citiesToSelectFrom" [value]="city">
              {{ city }}
            </option>
          </select>
          <small class="tracking-tighter text-gray-400 text-xm">
            City is required. Province is required first to select a city</small
          >
        </div>

        <div class="form-group">
          <label
            for="advertDetails"
            class="font-medium text-gray-500 col-form-label"
            >Advert Details</label
          >
          <textarea
            class="text-gray-600 rounded-md form-control"
            [ngClass]="{
              'is-invalid': formErrors.advertDetails
            }"
            id="advertDetails"
            rows="3"
            placeholder="*required"
            formControlName="advertDetails"
            (blur)="logValidationErrors()"
          >
          </textarea>
          <small class="tracking-tighter text-gray-400 text-xm">
            Advert details required. Mmust be 10 to 100 characters long
          </small>
        </div>

        <div class="form-group">
          <label for="price" class="font-medium text-gray-500 col-form-label"
            >Price</label
          >
          <input
            class="text-gray-600 rounded-md form-control h-9"
            [ngClass]="{
              'is-invalid': formErrors.price
            }"
            id="price"
            type="number"
            placeholder="*required"
            formControlName="price"
            (blur)="logValidationErrors()"
          />
          <small class="tracking-tighter text-gray-400 text-xm">
            Price is required. It must be 10 000 to 100 million rands
          </small>
        </div>

        <div class="flex justify-between mt-4">
          <button (click)="cancelUpdate()" class="btn btn-danger">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Publish Advert</button>
        </div>
      </form>
    </div>
  </div>
</div>
