<p>home works!</p>

<!-- Search Component (5): Search options will be described in detail in the ‘Search Component’ 
section.

- Featured Homes list (5): This is a list of adverts from sellers who upgraded their adverts to 
‘Featured listings’. Adverts should be displayed in a vertical list. For now, display all featured 
adverts, but later you’ll have to add paging. You won’t have time for that now though. The 
adverts will be retrieved with an API call. The advert information will be described in more 
detail in the ‘Featured Homes List Component’. -->
