<form [formGroup]="searchForm" (ngSubmit)="onFilter()">
  <input
    formControlName="search"
    class="
      w-100
      bg-gray-100
      rounded-full
      py-2
      pl-5
      border-none
      outline-none
      align-center
      shadow-sm
    "
    type="text"
    placeholder="Search..."
  />

  <div class="mt-2 flex-column">
    <div class="flex justify-center">
      <h2 class="font-bold text-gray-500 form-label">Search by:</h2>
    </div>
    <div class="flex justify-between">
      <div class="form-group">
        <select
          formControlName="province"
          class="lg:w-40 text-gray-600 rounded-md form-control h-9"
        >
          <option value="">-- province --</option>
          <option
            *ngFor="let province of provincesToSelectFrom"
            [value]="province"
          >
            {{ province }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <select
          formControlName="city"
          class="lg:w-40 text-gray-600 rounded-md form-control h-9"
        >
          <option value="">-- city --</option>
          <option *ngFor="let city of citiesToSelectFrom" [value]="city">
            {{ city }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <select
          formControlName="min"
          class="lg:w-40 text-gray-600 text-sm rounded-md form-control h-9"
        >
          <option value="">-- Price Above --</option>
          <option *ngFor="let price of maxPriceRanges" [value]="price">
            {{ price | currency: "ZAR":"symbol-narrow" }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <select
          formControlName="max"
          class="lg:w-40 text-gray-600 text-sm rounded-md form-control h-9"
        >
          <option value="">-- Price below --</option>
          <option *ngFor="let price of minPriceRanges" [value]="price">
            {{ price | currency: "ZAR":"symbol-narrow" }}
          </option>
        </select>
      </div>
    </div>
    <div class="mt-4 flex justify-around">
      <button
        type="button"
        (click)="onReset('reseting')"
        class="
          px-2
          py-2
          text-white
          rounded
          bg-gradient-to-r
          from-red-400
          to-red-500
        "
      >
        Reset Search
      </button>
      <button
        type="submit"
        class="
          px-2
          py-2
          text-white
          rounded
          bg-gradient-to-r
          from-blue-500
          to-blue-600
        "
      >
        Search
      </button>
    </div>
  </div>
</form>
